.dashboard{
	padding: 2rem 1rem;

	.summary{

		@include breakpoint(small only){
			padding-bottom: 1rem;
		}

		.card{
			width: 95%;
			margin: 0 auto;
			@include breakpoint(medium only){
				width: 98%;
			}

			.card-section{
				@include breakpoint(medium only){
					font-size: 0.8rem;
				}
				.fa{
					font-size: 2.5rem;
					@include breakpoint(medium only){
						font-size: 2rem;
					}

					&.fa-shopping-cart{
						color: #ff4500;
					}
					&.fa-thermometer-empty{
						color: #da8301;
					}
					&.fa-money-bill-wave{
						color: #00AA00;
					}
					&.fa-users{
						color: #00BFFF;
					}
				}
				p,h4{
					margin: 0; padding: 0;text-align: right;
				}
			}

			.card-divider{
				border-bottom: 1px solid #6c9a9d;
				background-color: #ffffff;
				a{
					color: #337ab7;
				} 
			} 
		}
	}

	.graph{
		margin: 2rem 0.5rem;
		@include breakpoint(small only){
			margin-top: 1rem;
		}

		.card{
			width: 98%;

			}
		canvas {
			height: 300px !important;
			@include breakpoint(small only){
				height: auto !important;
			}
		}

	}
}