$background 		: #f2f2f2;
$heading-large		: 2.5rem;
$heading-medium		: 2rem;
$heading-small		: 1.7rem;
$text-size			: 1rem;

html,body{

	font-size		: $text-size;
	line-height		: 1.5;
	padding			: 0;
	margin 			: 0;
	font-family		: 'Old Standard TT', serif;

}

h2{

 	font-family		: 'Cabin', sans-serif;
 	font-size		: 1.5rem;
 	margin-botton	: 1.6rem;
 	padding			: 1rem;
 	font-weight		: 500;

 	@include breakpoint(medium only){

 		font-size	: 1.5rem;
 	}

 	@include breakpoint(large){

 		font-size	: 2rem;
 	}

 }

 p{
	font-family		: 'Old Standard TT', serif;
	font-size		: 1rem;

	@include breakpoint(large){

 		font-size	: 1.5rem;
 	}
}

.site-wrapper{
	
	min-height		: 100%;
	position		: relative;
	
}

.reveal-update{
	
	border 		    : 0;

	border-radius	: 0.5rem;

 &:focus{
 	outline-style	: none;
 }

 h3{

 	font-size		: 1.5rem;

 	}

 h2{
    font-size: 1.5rem;
    font-weight: 500;
  }
}



[v-cloak] .v-cloak--hidden{
	display		: none;
}

hr{
	margin 			: 0 0 1rem 1rem;
	clear:both;
  	display:block;
  	width: 84%;               
  	height: 1px;
}

.reveal-delete{
	
	width			: 30rem;
    height			: 15rem;
    padding			: 0.5rem;
	border 		    : 0;

	border-radius	: 0.5rem;

 &:focus{
 	outline-style	: none;
 }

}

.save{
  display: none;
}

.heading{
	padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     
}

.notification{
	
	margin-top	: 1.5rem;

	display		: none;

	ul{

		li{
			list-style-type: none;
		}
	}
}

.notify{
	display: none;
	position: fixed;
	padding: 1rem;
	right: 1rem;
	bottom: 1rem;
	width: 300px;
	border-radius: 0.5rem;
	background-color: #00AA00;
	color: #ffffff;
}